

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap *
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
*/

header{
    background-color: #061f3a;
    margin-bottom: 20px;
}
header h1{
    color: #ccb89a;
    font-size: 25px;
    margin: 30px;
}


.fa {
    padding: 25px;
    font-size: 90px;
    width: 70px;
    float: right;
    text-decoration: none;
    border-radius: 20%;
    color: #ccb89a;
    position: static;
}

.logo img {
    vertical-align: middle;
    border: 0;
    position: relative;
    margin: 2px 0 0 0;
    width: 450px;
}
.nav-menu ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #061f3a;
    display: inline-block;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #061f3a;
    color: #f0b5a8;
    font-size: 15px;
    border-radius: 0;
    border: 0;
    border-bottom: solid #99e9ff 3px;
    border-top: solid #99e9ff 3px;
    margin: 0 10px;
    font-weight: bold;
}


/* Change the link color to #111 (black) on hover */
.nav-menu li a:hover {
    background-color: #111;
}
.nav-menu{
    text-align: center;
}
body{
    background-color: #fff;
}

.h2-color{
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 25px;
    color: #aba11d;
    font-family: 'Pacifico', cursive;
}
.about-box {
    padding: 10px;
    background-color: #F6F6F6;
    height: 250px;
    margin-bottom: 13px;
    text-align: center;


}
.about-box img{
  width: 40%;

}

 p{
    font-family: 'FuturaBold', "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    color: #000000;
 }

.block-title{
    color: #242424;
    font-size: 19px;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    text-transform: none;
    border-bottom: #242424 1px solid;
    position: relative;
}
.checkbox-container {
    position: relative;
}

/* Customize the label (the container) */
.checkbox-value {
  display: block;
  position: absolute;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  padding-right: 15px;
  height: 15px;
  width: 15px;
  background-color: grey;
}



/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #061f3a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container.checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-header{
    border-bottom: 1px dashed;
    padding-bottom: 10px;
    padding-top: 0px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 25px;
}


#main-content {
  text-align: center;
}
#main-content p{
  font-size: 15px;
} 

#main-content img {
  height: 200px;
  width: 250px;
}

#text-email{
  border-radius: 6px;
  border-color: #061f3a;
  border-width: thin;
}
#submit-button {
  background-color: #061f3a;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}
label {
  font-size: 18px;
}

/* Buttons */
#add-button{
  background-color: #061f3a;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  width: 20%;
}
#read-more{
  border-radius: 80px;
  color: #061f3a;
  background-color: #DCDCDC;
  border-width: thin;
  margin-top: 10px;
  margin-bottom: 20px;
}
footer{
    margin-bottom: 60px;
    margin-top: 60px;
}
#submit-recipe-h3{
  
    background-color: #061f3a;
    text-align: center;
    width: 50%;
    height: 100px;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    margin-top: 20px;

}
.col-sm-10{
  margin-top: 40px;
}
.col-sx-12 .col-md-7{
  margin-top: ;
}

#submit-recipe-h3 h3{
  text-align: center;
  padding-top: 10%;
  color: #ccb89a;
}
#left-side h1{
  font-size: 25px;
  color: #061f3a;
}
.radio-button input[type=radio]{
  margin-left: -20px;
}
#upload-icon {
  color: blue;
}

#inputa, #inputb {
    width: 70%;
    margin: 8px 0;
    box-sizing: border-box;
    border: #061f3a;
    border-radius: 3px;
    border-style: double;
}

#input2 {
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
    border: #061f3a;
    border-radius: 3px;
    border-style: double;
}

#input3, #input4 {
    width: 90%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 18px 20px;
    border: #061f3a;
    border-radius: 3px;
    border-style: double;
}

#input5{
    width: 90%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 60px 20px;
    border: #061f3a;
    border-radius: 3px;
    border-style: double;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
