

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap *
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
*/

header{
    background-color: #061f3a;
}
header h1{
    color: #ccb89a;
    font-size: 25px;
    margin: 30px;
}


.fa {
    padding: 25px;
    font-size: 40px;
    width: 40px;
    float: right;
    text-decoration: none;
    border-radius: 20%;
    color: #ccb89a;
    position: static;
}
.logo {
    margin: 10px 0 10px 0;
    width: 200px;

}
img {
    vertical-align: middle;
    border: 0;
    position: relative;
}
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #061f3a;
    display: inline-block;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #061f3a;
    color: white;
    font-size: 15px;
    border-radius: 0;
    border: 0;
    border-top: solid #ccb89a 4px;
    border-bottom: solid #ccb89a 4px;
    margin: 0 10px;
    font-weight: bold;
}


/* Change the link color to #111 (black) on hover */
.nav-menu li a:hover {
    background-color: #111;
}
.nav-menu{
    text-align: center;
}
body{
    background-color: #fff;
}

h2 {
    border-bottom: 1px dashed;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
    margin-bottom: 25px;
}
 p{
    font-family: 'FuturaBold', "Trebuchet MS", Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
    color: #000000;
 }

.block-title{
    color: #242424;
    font-size: 19px;
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    text-transform: none;
    border-bottom: #242424 1px solid;
    position: relative;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
  height: 15px;
  width: 15px;
  background-color: grey;
}



/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-header{
    border-bottom: 1px dashed;
    padding-bottom: 10px;
    padding-top: 0px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 25px;
}

footer{
    margin-bottom: 40px;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

